.footer {
  // Display and Box Model
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;

  // Others
  background-color: black;
  color: white;
  text-align: center;

  .menu {
    // Display and Box Model
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;

    @media screen and (min-width: 768px) {
      gap: 16px;
      flex-direction: row;
    }

    a {
      color: unset;
      text-decoration: none;
    }
  }

  .copyright,
  .attribution {
    // Display and Box Model
    margin: 0;
  }
}
