@import "../styles/variables";

.header {
  // Positioning
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  // Display and Box Model
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 32px;

  // Others
  color: white;
  transition: 0.25s ease transform, 0.25s linear background-color;
  background-color: rgba(0, 0, 0, var(--transparency));

  &.hidden {
    // Others
    transform: translateY(-100%);
  }

  &.menuopen {
    // Others
    background-color: rgba(0, 0, 0, 0.25);
  }

  &.dark {
    // Others
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.menu {
  // Display and Box Model
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;

  // Others
  cursor: pointer;
  border: none;
  color: white;
  background: transparent;

  span {
    // Others
    text-transform: uppercase;
    font-weight: 500;
  }
}

.navbar {
  // Positioning
  position: fixed;
  top: 0;
  left: 0;
  z-index: 499;

  // Display and Box Model
  height: 100vh;
  width: 100vw;
  padding: 64px;

  @media screen and (min-width: 768px) {
    padding: 64px 96px;
  }

  // Others
  pointer-events: none;

  .content {
    // Positioning
    position: relative;
    z-index: 10;

    // Display and Box Model
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    width: 100%;

    // Others
    text-align: right;
    opacity: 0;
    transition: opacity 0.25s ease;
    transition-delay: 0.5s;

    .links {
      // Display and Box Model
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    a {
      color: black;
      font-size: 4rem;
      font-weight: bolder;
      text-transform: lowercase;
      text-decoration: none;
    }
  }

  .background {
    // Positioning
    position: absolute;
    top: 0;
    left: 0;

    // Display and Box Model
    height: 100%;
    width: 100%;

    .background1,
    .background2 {
      // Positioning
      position: absolute;
      top: 0;
      left: 0;

      // Display and Box Model
      height: 100%;
      width: 100%;

      // Others
      transform: scaleY(0);
      transform-origin: bottom;

      transition: transform 0.25s ease;
    }

    .background1 {
      // Others
      background-color: black;

      transition-delay: 0.25s;
    }

    .background2 {
      // Positioning
      z-index: 5;

      // Others
      background-color: $tertiary;

      transition-delay: 0.4s;
    }
  }
}

.visible {
  // Others
  pointer-events: all !important;
  opacity: 1 !important;
}

.visible {
  .background1,
  .background2 {
    transform: none !important;
  }

  .content {
    opacity: 1;
  }
}
