@import "../styles/variables";

.testimonials {
  // Display and Box Model
  padding: 32px;
  max-width: 600px;
  margin: 0 auto;

  // Others
  background-color: $primary;
  color: white;
  border-radius: 16px;
}
