@import "../styles/variables";

.button {
  // Positioning
  position: fixed;
  bottom: 32px;
  left: 32px;

  // Display and Box Model
  height: 6vmax;
  width: 6vmax;

  display: flex;
  align-items: center;
  justify-content: center;

  // Others
  cursor: pointer;
  font-size: 1.2rem;
  background-color: $tertiary;
  border: none;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }

  svg {
    color: white;
  }
}
