@import "../styles/variables";

.hiring {
  // Positioning
  position: relative;

  // Display and Box Model
  min-height: 100vh;
  padding: 96px 32px;

  @media screen and (min-height: 768px) {
    padding: 96px 64px;
  }

  // Others
  background-color: tint($primary, 95%);

  .content {
    // Positioning
    position: relative;
    z-index: 10;

    // Display and Box Model
    height: 100%;
    width: 100%;

    .subheading {
      // Display and Box Model
      max-width: 60ch;
      margin-bottom: 32px;
    }

    .container {
      // Display and Box Model
      display: flex;

      .illustration {
        // Display and Box Model
        display: none;
        align-items: center;
        justify-content: center;

        flex-basis: 0;
        flex-grow: 2;

        padding: 32px;

        // Others
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 16px 0 0 16px;
        border: 1px solid #ddd;

        @media screen and (min-width: 768px) {
          display: flex;
        }
      }

      .stack {
        // Display and Box Model
        height: 100%;
        width: 100%;
        padding: 16px;

        flex-basis: 0;
        flex-grow: 3;

        // Others
        border-radius: 16px;
        background-color: tint($primary, 70%);

        @media screen and (min-width: 768px) {
          border-radius: 0 16px 16px 0;
        }

        .form {
          // Display and Box Model
          padding: 16px;
          max-width: 600px;
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 16px;

          > div {
            // Display and Box Model
            width: 100%;

            label {
              // Display and Box Model
              display: inline-block;
              margin-bottom: 8px;

              // Others
              text-transform: uppercase;
              font-weight: 500;
            }

            input {
              // The react-tag-input-component input

              // Display and Box Model
              width: 100%;
            }

            > input[type="text"],
            > input[type="email"],
            > input[type="number"],
            textarea {
              // Custom inputs

              // Display and Box Model
              display: block;
              padding: 8px;

              border: none;
              border-radius: 16px;

              &:active,
              &:focus {
                // Others
                outline: none;
              }
            }
            textarea {
              // Display and Box Model
              width: 100%;
              min-height: 150px;
              padding: 16px;

              // Others
              resize: none;
            }

            > button {
              // Display and Box Model
              display: block;
              margin: 0 auto;

              // Others
              background-color: black;
            }
          }
          .mode {
            > div {
              // Display and Box Model
              flex-direction: column;

              > div {
                // Display and Box Model
                width: 100%;
              }

              @media screen and (min-width: 768px) {
                flex-direction: row;

                div {
                  // Display and Box Model
                  width: unset;
                }
              }
            }
            > div > div > div > div:nth-child(2) {
              // Display and Box Model
              display: inline-flex;
              align-items: center;
              justify-content: center;
              padding: 0 !important;
            }
          }
        }

        .flippedform {
          // Display and Box Model
          height: 100%;
          width: 100%;
          padding: 32px;

          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;

          @media screen and (min-width: 768px) {
            justify-content: center;
          }

          /* Others */
          text-align: center;
        }
      }
    }
  }

  .background {
    // Positioning
    position: absolute;
    top: 0;
    left: 0;

    // Display and Box Model
    height: 100%;
    width: 100%;
  }
}
