@import "../styles/variables";

.hero {
  // Positioning
  position: relative;

  // Display and Box Model
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;

  // Others
  background: linear-gradient(
    to bottom right,
    tint($secondary, 30%) 30%,
    tint($secondary, 50%) 50%,
    tint($primary, 70%)
  );
  text-align: center;
  color: white;

  .content {
    // Positioning
    position: relative;
    z-index: 10;

    // Display and Box Model
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 16px;

    // Others
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s ease transform, 0.5s ease opacity;

    &.inView {
      opacity: 1;
      transform: none;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
      flex-direction: row;
      gap: 32px;

      .text {
        // Display and Box Model
        padding: 0 16px;

        // Others
        border-right: 2px solid $secondary;

        .buttons {
          flex-direction: row !important;
        }
      }
    }

    .text {
      // Display and Box Model
      flex-basis: 0;
      flex-grow: 3;

      .heading {
        // Others
        font-size: 3rem;
        margin: 16px 0;

        .uni {
          // Others
          font-family: "Dancing Script", cursive;
        }
      }

      .buttons {
        // Display and Box Model
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        margin-top: 32px;
      }
    }

    .image {
      // Positioning
      position: relative;

      // Display and Box Model
      flex-basis: 0;
      flex-grow: 2;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .background {
    // Positioning
    position: absolute;
    top: 0;
    left: 0;

    // Display and Box Model
    height: 100%;
    width: 100%;

    // Others
    pointer-events: none;
  }
}

.services {
  // Positioning
  position: relative;

  // Display and Box Model
  padding: 96px 32px;

  @media screen and (min-width: 768px) {
    padding: 96px 96px;
  }

  // Others
  overflow: hidden;
  background-color: rgb(228, 215, 255);

  .content {
    // Positioning
    position: relative;
    z-index: 10;

    .title {
      // Display and Box Model
      margin-bottom: 64px;

      // Others
      font-family: "Kalam", cursive;
      font-size: 2.4rem;
      text-align: center;
    }

    .container {
      // Display and Box Model
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;

      // // Others
      // overflow-x: hidden;

      @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      > * {
        opacity: 0.5;
        transition: 0.25s ease transform, 0.25s ease opacity;
        transition-delay: 0.25s;
      }

      > *:nth-of-type(even) {
        transform: translateX(100vw);
        opacity: 0.5;
      }

      > *:nth-of-type(odd) {
        transform: translateX(-100vw);
        opacity: 0.5;
      }
    }
  }

  .background {
    // Positioning
    position: absolute;
    top: 0;
    left: 0;

    // Display and Box Model
    height: 100%;
    width: 100%;

    // Others
    background: url("/weprovide.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.1;
  }
}

.whyus {
  // Positioning
  position: relative;
  z-index: 0;

  // Display and Box Model
  padding: 96px 64px;

  // Others
  background-color: tint(#e8acfc, 10%);

  .background {
    // Positioning
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    // Display and Box Model
    height: 100%;
    width: 100%;

    // Others
    pointer-events: none;

    .shape1 {
      // Positioning
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;

      // Display and Box Model
      height: 75px;
      width: 100%;

      // Others
      clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0);
      background-color: tint($primary, 50%);
      opacity: 0.5;
    }

    .shape2 {
      // Positioning
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5;

      // Display and Box Model
      height: 100px;
      width: 100%;

      // Others
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 0);

      background-color: tint($secondary, 50%);
    }

    li {
      // Others
      opacity: 0.1;
      background: tint($secondary, 90%);
      border-radius: 16px;
    }
  }

  .content {
    // Positioning
    position: relative;
    z-index: 10;
  }

  .counters {
    // Display and Box Model
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px 16px;
    gap: 16px;

    p {
      // Display and Box Model
      margin: 0;
      max-width: 40ch;

      // Others
      font-size: 0.75rem;
      @media screen and (min-width: 768px) {
        font-size: 0.9rem;
      }
    }

    .students {
      // Display and Box Model
      display: block;
      // Others
      font-size: 1rem;
    }

    .foreign {
      // Display and Box Model
      display: inline-block;
      padding: 2px 4px;

      // Others
      background-color: $primary;
      color: white;
      border-radius: 4px;
    }
  }
}

.contact {
  // Display and Box Model
  padding: 96px 64px;

  // Others
  background-color: $secondary-white;

  .heading,
  .subheading {
    // Others
    text-align: center;
  }

  .contacts {
    // Display and Box Model
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    // Others
    list-style-type: none;

    li {
      padding: 4px 0;
    }
  }

  .map {
    // Display and Box Model
    height: auto;
    width: 100%;
    margin: 32px auto 8px auto;

    // Others
    border-radius: 16px;
    background-color: #eee;
  }

  .address {
    // Display and Box Model
    margin-top: 8px;

    // Others
    text-align: center;
    font-style: italic;
  }
}

/* Appearing animations */

.hero,
.whyus,
.services,
.contact {
  .content {
    // Others
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s ease transform, 0.5s ease opacity;

    &.inView {
      opacity: 1;
      transform: none;
    }
  }
}

.services {
  .content {
    &.inView {
      .container {
        * {
          transform: none;
          opacity: 1;
        }
      }
    }
  }
}
