// Function definitions
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Variable declarations
$primary: #0f27f6;
$secondary: #ff2b87;
$tertiary: #12eb70;

$primary-white: tint($primary, 90%);
$secondary-white: tint($secondary, 90%);
